body {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 1.3rem;
}

hr {
  margin: 0;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #eeeeee;
}

.white-section {
  background-color: #fff;
}

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.parallax:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* Navigation Bar */
.nav-logo {
  width: 12%;
  height: auto;
  padding-bottom: 10px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Kanit', sans-serif;
  font-size: 1.2rem;
}

.nav-padded {
  padding: 10px 12% 0;
}

.title-image {
  position: absolute;
  left: 29%;
  width: 100%;
  height: auto;
}

.header {
  padding: 0 13%;
  background-color: #931a25;
  text-align: right;
}

.ico-header {
  padding: 18px 10px;
  font-size: 25px;
}

.btn-space {
  margin: 5% 3% 5% 0;
}

#title .container-fluid {
  padding: 4% 12% 15%;
  text-align: left;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 20px;
}

@media (max-width: 1030px) {
  #title {
    text-align: center;
  }
}

#mission-statement .container-fluid {
  text-align: center;
  padding: 7% 15%;
}

/* Branches */
.branch-img {
  width: 100%;
  height: auto;
  padding: 5%;
}

.branch-text {
  text-align: center;
  font-weight: bold;
}

.bg-branch {
  /* background-color: #81b214; */
  background-color: #931a25;
}

#branches {
  text-align: center;
}

#branches .parallax {
  background: url('../images/sunset.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  height: 700px;
  position: relative;
  padding: 0 10%;
}

.card-header {
  font-size: 1.5rem;
}

.card {
  margin: 40% auto;
  background: rgba(160, 0, 0, 0.7);
  border-radius: 5%;
}

#conference {
  text-align: center;
  color: #fff;
}

#conference .section-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.5;
  padding-top: 200px;
  position: relative;
}

.conf-descript {
  padding: 10px 15%;
  font-size: 2.5rem;
  position: relative;
}

.conf-btn {
  margin: 50px 25px;
  padding: 10px 5%;
  position: relative;
}

#conference .parallax:before {
  background: rgba(0, 0, 0, 0.7);
}

#conference .parallax {
  background: url('../images/conference-full.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 900px;
  position: relative;
}

/* Testimonials */
.testimonial-text {
  font-size: 2rem;
  line-height: 1.5;
}

.testimonial-image {
  padding-top: 20px;
  margin: 20px;
  width: 10%;
  border-radius: 100%;
}

/* Featured Event */
#featured-event{
  padding-bottom: 7%
}

.featured-img {
  width: 100%;
}

.featured-text {
  text-align: left;
  padding-left: 5%;
}

.vl{
  margin: 0 10px 0 18px;
  border-left: 2px solid #931a25;;
  height: 400px;
}

/* Call to Action */
#cta{
  padding-top: 5%;
}

.cta-text {
  padding: 3% 18%;
  font-size: 18px;
  margin-bottom: 50px;
}

.btn-cta {
  background: #DD6969;
  background-image: -webkit-linear-gradient(top, #DD6969, #931A25);
  background-image: -moz-linear-gradient(top, #DD6969, #931A25);
  background-image: -ms-linear-gradient(top, #DD6969, #931A25);
  background-image: -o-linear-gradient(top, #DD6969, #931A25);
  background-image: linear-gradient(to bottom, #DD6969, #931A25);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  padding: 18px;
  text-decoration: none;
  border: solid #D12020 0px;
}

.btn-cta:hover {
  border: solid #D12020 0px;
  background: #D70D0D;
  background-image: -webkit-linear-gradient(top, #D70D0D, #C93B4F);
  background-image: -moz-linear-gradient(top, #D70D0D, #C93B4F);
  background-image: -ms-linear-gradient(top, #D70D0D, #C93B4F);
  background-image: -o-linear-gradient(top, #D70D0D, #C93B4F);
  background-image: linear-gradient(to bottom, #D70D0D, #C93B4F);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6;
  text-decoration: none;
}

.hr-cta {
  width: 50%;
  margin: auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Newsletter */

#newsletter .container-fluid{
  padding: 7% 20%;
  text-align: center;
}

#newsletter .parallax:before{
  background: rgba(192,192,192,0.5);
}

#newsletter .parallax{
  background: url("../images/worship-team.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 600px;
  position: relative;
}

#newsletter .section-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.5;
  padding-top: 200px;
  position: relative;
}
