body {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 1.3rem;
}

hr {
  margin: 0;
  background-color: #e8e8e8;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section {
  background-color: #eeeeee;
}

.white-section {
  background-color: #fff;
}

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.nav-logo {
  width: 12%;
  height: auto;
  padding-bottom: 10px;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Kanit', sans-serif;
  font-size: 1.2rem;
}

.nav-padded {
  padding: 10px 12% 0;
}

.title-image {
  position: absolute;
  left: 29%;
  width: 100%;
  height: auto;
}

.header {
  padding: 0 13%;
  background-color: #931a25;
  text-align: right;
}

.ico-header {
  padding: 18px 10px;
  font-size: 25px;
}

.btn-space {
  margin: 5% 3% 5% 0;
}

#title .container-fluid {
  padding: 4% 12% 15%;
  text-align: left;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 20px;
}

@media (max-width: 1030px) {
  #title {
    text-align: center;
  }
}

#mission-statement .container-fluid {
  text-align: center;
  padding: 7% 15%;
}

/* Branches */
.branch-img {
  width: 100%;
  height: auto;
  padding: 5%;
}

.branch-text {
  text-align: center;
  font-weight: bold;
}

.bg-branch {
  background-color: #81b214;
}

.card-header {
  font-size: 1.5rem;
}


#conference {
  text-align: center;
  color: #fff;
}
#conference .section-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 5rem;
  line-height: 1.5;
  padding-top: 200px;
  position: relative;
}

.conf-descript{
  padding: 10px 15%;
  font-size: 2.5rem;
  position: relative;
}

.conf-btn{
  margin: 50px 25px;
  padding: 10px 5%;
  position: relative;
}

.parallax:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.7);
}

.parallax{
  background: url('../images/conference-full.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  height: 900px;
  position:relative;
}
